gradio==4.16.0
ipython==8.8.0
matplotlib==3.8.2
numpy==1.23.0
opencv_contrib_python==4.6.0.66
opencv_python==4.9.0.80
opencv_python_headless==4.7.0.68
torch==1.13.1
ultralytics==8.0.166
~==encv_python
~pencv_python==4.6.0.66
