gradio==4.16.0
ipython==7.31.1
ipython==7.33.0
ipython==8.10.0
ipython==8.13.2
ipython==8.15.0
ipython==8.8.0
ipython==8.2.0
matplotlib==3.8.2
matplotlib==3.5.2
matplotlib==3.5.3
matplotlib==3.6.2
matplotlib==3.7.1
matplotlib==3.5.1
matplotlib==3.7.2
numpy==1.15.1
numpy==1.21.5
numpy==1.23.5
numpy==1.24.3
numpy==1.23.0
opencv_contrib_python==4.6.0.66
opencv_python==4.9.0.80
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.68
torch==1.13.1
torch==2.1.2
torch==1.12.1
ultralytics==8.0.166
~==encv_python
~pencv_python==4.6.0.66
